ul {
  width: 100%;
  padding-left: 0;
  li {
    text-transform: capitalize;
    width: 100%;
    list-style-type: none;
    padding: 5px;
    height: 45px;
    line-height: 25px;
    background-color: white;
    color: black;
    border: 1px solid black;

    &.active {
      border: 5px solid purple;
    }
  }
}

#settings-list {
  padding-left: 0;
}

#settings-title {
  background-color: green;
  font-size: 1.4em;
  text-align: center;
}

i.fa-caret-right.pull-right {
  margin-top: 8px;
  font-size: 20px;
}
