<div class="container">
  <div class="row">
    <div class="col-xs-12"> EMERGENCY CONTACT
      <i class="fa fa-mobile"></i>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-xs-12" id="contact-number-col">
      <div class="contact-number"> 0433323984</div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-1">
        <div class="row">B</div>
        <div class="row">A</div>
        <div class="row">C</div>
        <div class="row">K</div>
    </div>

    <div class="col-xs-1">
    </div>

    <div class="col-xs-1">
      <div class="row">S</div>
      <div class="row">A</div>
      <div class="row">V</div>
      <div class="row">E</div>
    </div>
  </div>
</div>
