<div class="row first-row">
  <div class="col-xs-offset-4 col-xs-4">
    <i id="emergency-button" class="fa fa-plus fa-5x"></i>
  </div>
</div>

<div class="row second-row">
  <div class="col-xs-4">
    <div id="entertainment-button" class="pacman-ghost"></div>
  </div>
  <div class="col-xs-offset-4 col-xs-4">
    <i id="contacts-button" class="fa fa-users fa-5x"></i>
  </div>
</div>

<div class="row">
  <div class="col-xs-offset-4 col-xs-4">
    <i id="settings-button" class="fa fa-cog fa-5x"></i>
  </div>
</div>
