<div class="row">
  <div class="col-xs-1" id="list-title">
    <div class="row">L</div>
    <div class="row">I</div>
    <div class="row">S</div>
    <div class="row">T</div>
  </div>

  <div class="col-xs-10 list-container">
    <ul>
      <li data-index="0" data-url="a">AAA</li>
      <li data-index="1" data-url="b">BBB</li>
      <li data-index="2" data-url="c">CCC</li>
      <li data-index="3" data-url="d" class="active">DDD</li>
    </ul>
  </div>

</div>
