<div class="row">
  <div class="col-xs-1" id="serviceMenu-title">
    <div class="row">S</div>
    <div class="row">E</div>
    <div class="row">R</div>
    <div class="row">V</div>
    <div class="row">I</div>
    <div class="row">C</div>
    <div class="row">E</div>
    <div class="row">S</div>
  </div>

  <div class="col-xs-10 list-container">
    <ul>
      <li data-index="0" data-url="healthServices" class="active">Health Services</li>
      <li data-index="1" data-url="supportGroups">Support Groups</li>
    </ul>
  </div>

</div>
