<div class="row">
  <div class="col-xs-1" id="settings-title">
    <div class="row">S</div>
    <div class="row">E</div>
    <div class="row">T</div>
    <div class="row">T</div>
    <div class="row">I</div>
    <div class="row">N</div>
    <div class="row">G</div>
    <div class="row">S</div>
  </div>

  <div class="col-xs-10" id="settings-list">
    <ul>
      <li data-index="0">Gender</li>
      <li data-index="1">Age</li>
      <li data-index="2">My Contacts</li>
      <li data-index="3" class="active">Emergency Contacts
        <i class="fa fa-caret-right pull-right"></i>
      </li>
      <li data-index="4">Heaviness</li>
    </ul>
  </div>

</div>
